/**
 This will be the stylesheet for all 3 html pages of the Portfolio Assignment since the page styles are relatively similar
 **/

 /**The below section lists CSS common to all 3 pages  **/

* body{
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url("../hotel-wallpaper.png");
}

.nav {
  margin-bottom: 20px;
}
.navLinks {
  list-style: none;
  display: flex;
  margin-right: 50px;
  margin-top: 15px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.my-name {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px; 
  line-height: 30px;
  margin-left: 10%;
}

.button{
  margin-right: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

.container-fluid {
  background-color: #ffffff;
  border-top: #cccccc 2px solid;
  border-bottom: #cccccc 2px solid;
  height: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 960px;
  padding-bottom: 25px;
}

.About-Me {
  font-size: 24px;
  line-height: 1.5cm;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;
}

hr {
  border: 1px solid #dddddd;
}

#bio {
  width: 175px;
  height: 200px;
  float: left;
  padding: 20px;
}

p {
  margin-right:  25px;
  text-align: justify;
  color: #82807d;
  line-height: .75cm;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.footer-bottom {
  background-color: #666666;
  border-top: 8px solid #4aaaa5; 
	padding-top: 20px;
  padding-bottom: 10px;
  
}

.footer-bottom p {
  font-size:  10px;
  text-align: center;
}

.form {
  background-color: #ffffff;
  height: 500px;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

p1 {
  font-size: 24px;
  color: #4aaaa5;
  line-height: 1.5cm;
}

.gallery{ 
  background-color: #ffffff;
  height: flex;
  margin-top: 25px;
}


.Project-Tile-1 {
  width: 200px;
  height: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 45px;
  margin-right: 45px;
  position: relative;
}

.Project-Tile-2 {
  width: 200px;
  height: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 120px;
  margin-right: 120px;
  position: relative;
}

.Labels {
  position: absolute; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 32px;
  top: 105px;
  width: inherit;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.row-1 {
  
}
/**subsection for divs common to all 3 pages and parent/child containers 

footer {
  height:  55px;
  
  margin-top: 50px;
  padding-top: 10px;
  
  font-size: 10px;
}

.container-fluid {
  background-color: #ffffff;
  border-top: #cccccc 2px solid;
  border-bottom: #cccccc 2px solid;
  height: 75px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 960px;
  padding-bottom: 25px;
}

.form {
  background-color: #ffffff;
  height: 500px;
  margin-top: 25px;
}

.gallery{ 
  background-color: #ffffff;
  height: 500px;
  margin-top: 25px;
}



p {
  margin-right:  25px;
  text-align: justify;
  color: #82807d;
  line-height: .75cm;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
}



footer {
  height:  55px;
  background-color: #666666;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 8px solid #4aaaa5; 
  font-size: 10px;
}

#footer-text {
  text-align: center;
}


.About-Me {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;
}


/**The below section lists CSS for the Contact Page 

.container-fluid form {
  
  background-color: #ffffff;
  border-top: #cccccc 2px solid;
  border-bottom: #cccccc 2px solid;
  height: 450px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 960px;
  padding-bottom: 25px;
}
  
.form-group {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #777777;
}

button[type=button], select {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif
}


.Project-Tile-1 {
  width: 200px;
  height: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 45px;
  margin-right: 45px;
  position: relative;
}

.Project-Tile-2 {
  width: 200px;
  height: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 120px;
  margin-right: 120px;
  position: relative;
}

.Labels {
  position: absolute; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 32px;
  top: 105px;
  width: inherit;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

p2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  font-size: 18x;
}

.row1 .Project-Tile {

}
  


/** xs devices < 576px
sm devices (phones in portrait) min. 576 and up
md devices (tablets in portrain) min. 768 and up
lg devices (laptops and desktops) min. 992 and up 






